<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Seedstar</title>
  <style>
      .jobtext{color: #C75050;}
      a{
          text-decoration: none;
      }
  </style>
</head>
<body>
<header>
<h1 class="jobtext">Seedstar Job Assesment</h1>
<div class=" container">
    <div class="row">
        <div class="col-md-12">

{% block content %}



{% endblock %}
            </div>
        </div>
</div>

</header>
        

</body>
</html>